*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Helvetica Neue,
  PT Root, Segoe UI, sans-serif;
  background-color: #0B0E15;
  overflow-y: scroll;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
h1, h2, h3, h4 {
  color: #F3F3F5;
}
@font-face {
  font-family: 'PT Root';
  src: url('/fonts/PT-Root-UI_Bold.woff2') format('woff2'),
  url('/fonts/PT-Root-UI_Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root';
  src: url('/fonts/PT-Root-UI_Regular.woff2') format('woff2'),
  url('/fonts/PT-Root-UI_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root';
  src: url('/fonts/PT-Root-UI_Medium.woff2') format('woff2'),
  url('/fonts/PT-Root-UI_Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Mono";
  font-weight: 400;
  src: url("/fonts/SFMono-Regular.otf");
  font-style: normal;
}
.btn {
  border-radius: 8px !important;
  font-weight: 400 !important;
  border: 1px solid #405361 !important;
  padding: 10px 20px !important;
}
.btn:hover{
  color: #fff !important;
}
.btn_center{
  margin: 10px auto;
  display: flex;
}
.input_border div div {
  border: 1px solid #323B4F;
}
.btn_hover:hover{
  background: #00DCDC !important;
  color: #0B0E15 !important;
}
.btn_hover span:hover{
  color: #0B0E15 !important;
}
.button_p {
  padding: 12px 50px !important;
  font-size: 1em !important;
  font-weight: 500 !important;
}